.profile {
  padding: 30px;
}

.profile-forms {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-radius: 5px;
  padding-bottom: 70px;

}

@media (max-width: 500px) {
  .profile-forms {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
