.profile {
  padding: 30px;
}

.profile-forms {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-radius: 5px;
  padding-bottom: 70px;
 
}

@media (max-width: 500px) {
  .profile-forms {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
}

.apps{
  text-align: center;
  color: white;
  background-color: $onelogin-blue;
  padding-bottom: 30px;
  padding-top: 30px;
}
.ratings-link {
  text-decoration: none;
  color:black;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  display: block;
}
