.splash-header {
  text-align: center;
  padding: 20px;
  font-size: calc(10px + 3vmin);
  color: #1C1f2A;
}

.splash-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  padding: 40px;
  flex-grow: 1;
  display: inline;;
  text-align: center;
}

