.splash-header {
  text-align: center;
  padding: 20px;
  font-size: calc(10px + 3vmin);
  color: #1C1f2A;
}

.splash-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  padding: 40px;
  flex-grow: 1;
  display: inline;;
  text-align: center;
  input[type="email"] {color: #1C1f2A; min-width: 300px; min-height: 25px; background-color: #b9dfeb; border-radius: 5px;}
  input[type="password"] {color: #1C1f2A; min-width: 300px; min-height: 25px; background-color:  #b9dfeb; border-radius: 5px;}
}
