.input-form {
  color: #000;
  text-align: left;
  .input-form-field {
    width: 200px;
  }

  .phone-format-text {
    font-size: 12px;
    margin-left: 20px;
  }
}

.profile-form-section {
  margin-bottom: 30px;
  flex: 1
}

.profile-form-title {
  margin-bottom: 10px;
}

.profile-label {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: block;
}

.profile-input {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: block;
}
