.header {
  background: $onelogin-black;
  color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
}

.main-title {
  margin-bottom: 10px;
}

.title {
  flex: 3;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.header-right-link {
  flex: 1;
  text-align: right;
  padding: 20px;
  max-width: 60px;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .subtitle {
    display: none;
  }
  .sign-in {
    text-align: center;
  }
}

.user-link {
  color: white;

}
